<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxy.my_blog.mapper.TBlogCommentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxy.my_blog.entity.TBlogComment">
        <id column="id" property="id" />
        <result column="blog_id" property="blogId" />
        <result column="comment_id" property="commentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, blog_id, comment_id
    </sql>

</mapper>
